/Exemplo1/nbproject/private/
/Exemplo1/build/
/Exemplo2/nbproject/private/
/Exemplo2/build/
/Exemplo/nbproject/private/
/Exemplo/build/
/EXEMPLO01/nbproject/private/
/exemplo001/nbproject/private/
/exemplo001/build/
/exemplo001/dist/
/Exemplo02/nbproject/private/
/Exemplo02/build/
/Exemplo02/dist/
/Exemplo03/nbproject/private/
/Exemplo03/build/
/Exemplo03/dist/
/Exemplo5/nbproject/private/
/Exemplo5/build/
/Exemplo6/nbproject/private/
